<!---barra de navegacion de GamingLegends-->
<div class="div-container">
  
  <div class="brand-container">
    <img src="../assets/img/role-playing-game.png" alt="logo de GamingLegends " class="img-logo">
    <h4 class="inicio-title">GAMING LENGENDS</h4>
  </div>

    <ul class="menu-options-containers">
    <li>
      <a href="/lo-mas-jugado" class="menu-item">LO MAS JUGADO</a>
    </li>

    <li>
      <a href="/recomendados" class="menu-item">RECOMENDADOS</a>
    </li>
    <li>
      <a href="/nuevos-juegos" class="menu-item">NUEVOS JUEGOS</a> 
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
