.header-text{
    color: rgb(17, 82, 6);
}

.cards-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.card{
    width: 300px;
    background-color: rgb(104, 99, 99);
    color: #fff;
}
.card-body{
    padding: 10px;
}

.card-title{
    margin-bottom: 10px;
}

.img-card{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/pokemon.png");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
    background-repeat: no-repeat;
}

.img-card2{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/call.png");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
}

.img-card3{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/futbol.jpg");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
}

.img-card4{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/halo.jpg");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
}

.img-card5{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/mario.png");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
    

}


.img-card6{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/super.png");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;

}

.img-card7{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/far.png");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
    background-repeat: no-repeat;


}
.img-card8{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/fall.png");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
}

.img-card9{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/Dragon.jpg");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
}
.img-card10{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/terror.jpg");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
}

.img-card11{
    height: 150px;
    width: 300px;
    background-image: url("../../../assets/img/guardianes.jpg");
    background-size: caver;
    background-position-x: 50%;
    background-position-y:50% ;
}



