<div class="recommended-section"></div>
<h4 class="header-text">lo mas reciente:</h4>
<div class="cards-container">

    <div class="card">
        <div class="img-card"></div>
        <div class="card-body">
            <h4 class="card-title">POKEMON</h4>
        <p>
            Pokémon Diamante Brillante y Pokémon Perla
             Reluciente son un dúo de videojuegos de
              rol para la videoconsola hibrída Nintendo
               Switch. Fueron anunciados el 26 de febrero 
            como parte del 25 aniversario de Pokémon junto
             a Leyendas Pokémon:.

             
                <a href="https://www.fireload.com/ad8e56dd605077e0/Colecci%C3%B3n_Pokemon_Portables.rar" class="btn-red"> DESCARGELO AQUI </a>
            
            
             
        </p>
        </div>
    </div>
    
    


    <div class="card">
        <div class="img-card2"></div>
        <div class="card-body">
            <h4 class="card-title">call of duty</h4>
        <p>
            
            Call of Duty es una serie de videojuegos de disparos
             en primera persona, de estilo bélico, desarrollada
              principal e inicialmente por Infinity Ward, Treyarch,

              <a href="http://www.mediafire.com/file/mnmv8c7al9nj3y2/SR_Pool_Party_32.rar/file" class="btn-red"> DESCARGELO AQUI </a>
        </p>
        </div>
    </div>


    <div class="card">
        <div class="img-card3"></div>
        <div class="card-body">
            <h4 class="card-title">FIFA 22</h4>
        <p>
            FIFA 22 es un videojuego de fútbol desarrollado por EA 
            Vancouver y EA Romania, siendo publicado por EA Sports.
             Está disponible para PlayStation 4, PlayStation 5,
              Xbox Series X/S, Xbox One, Microsoft Windows, Google
               Stadia y Nintendo Switch

               <a href="https://www.mediafire.com/file/636lgxj4zbito94/FIF21.zip/file" class="btn-red"> DESCARGELO AQUI </a>
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card4"></div>
        <div class="card-body">
            <h4 class="card-title">Halo infinite</h4>
        <p>
            Halo Infinite es un videojuego de disparos
             en primera persona próximo a estrenarse de 
             la franquicia de videojuegos de ciencia
              ficción creada por Bungie Studios y actualmente
               desarrollada por 343 Industries.

               <a href="https://www.mediafire.com/file/42yakdj1iv7rcxk/Xbox_Gamepass.apk/file" class="btn-red"> DESCARGELO AQUI </a>
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card5"></div>
        <div class="card-body">
            <h4 class="card-title">SUPER MARIO MAKER 2 </h4>
        <p>
            Super Mario Maker 2 es un videojuego de plataformas
             y de creación de niveles, desarrollado y publicado
              por Nintendo para Nintendo Switch. Es la secuela 
              de Super Mario Maker y salió a la venta el 28 de 
              junio de 2019 en todo el mundo.

              <a href="https://mega.nz/folder/uklVwALL#l3_pGZNReCzzgGvHotg_Eg " class="btn-red"> DESCARGELO AQUI </a>

        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card6"></div>
        <div class="card-body">
            <h4 class="card-title">SUPER SMASH BROS ULTIMATE </h4>
        <p>
            Super Smash Bros. Ultimate es un videojuego
             de lucha desarrollado por Sora Ltd. 
             y Bandai Namco Entertainment y distribuido
              por Nintendo para la consola Nintendo Switch

              <a href="http://www.mediafire.com/file/li1hdq8j227ac58/SSBM.rar/file" class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card7"></div>
        <div class="card-body">
            <h4 class="card-title">FAR CRY 6</h4>
        <p>
            Far Cry 6 es un videojuego de disparos en primera persona
             desarrollado por Ubisoft Toronto y publicado por Ubisoft.
              Es la sexta entrega principal de la serie Far Cry, 
              fue lanzado el 7 de octubre del 2021 para las plataformas
               de Microsoft Windows, PlayStation 4,

               <a href="https://juego-descargar.com/far-cry-6-descargar-juego-gratis/" class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card8"></div>
        <div class="card-body">
            <h4 class="card-title">FALL GUYS </h4>
        <p>
            
            Fall Guys: Ultimate Knockout es un videojuego
             de plataformas y battle royale desarrollado
              por Mediatonic y publicado por Devolver Digital.
               Fue anunciado en la E3 2019​ y fue lanzado para
                Windows y PlayStation 4 el 4 de agosto del 2020

<a href="https://mega.nz/file/VC5AhT6C#w9hk_dYcz_8aegmYsn5hox8-0tb7eZqJx2i6TxkLXek" class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card9"></div>
        <div class="card-body">
            <h4 class="card-title">DRAGON BALLLZ KAKAROTO</h4>
        <p>
            Dragon Ball Z: Kakarot es un videojuego de rol de acción,
             desarrollado por CyberConnect2 y publicado por Bandai
              Namco Entertainment.​ Basado en la franquicia de Dragon Ball,
               se lanzó para Microsoft Windows,

               <a href="http://www.mediafire.com/file/ycx91fmml1mc4b1/A-G_Drag%25C3%25B3n_Ball_Z_Kakarot.rar/file" class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card10"></div>
        <div class="card-body">
            <h4 class="card-title">LITTLE NIGMERSHT</h4>
        <p>
            Little Nightmares es un videojuego de rompecabezas
             y horror de supervivencia desarrollado por Tarsier
              Studios y publicado por Bandai Namco Entertainment 
              para Nintendo Switch, Microsoft Windows, PlayStation
               4 y Xbox One.

               <a href="https://www.mediafire.com/file/4xp4fe0gudg353y/LittleNII-build06.05.2021.rar/file" class="btn-red"> DESCARGELO AQUI </a> 

        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card11"></div>
        <div class="card-body">
            <h4 class="card-title">GUARDIANES DE LA GALAXIA</h4>
        <p>
            Marvel's Guardians of the Galaxy es un videojuego 
            de acción y aventuras desarrollado por Eidos-Montréal 
            y publicado por la filial europea de Square Enix

            <a href="https://juego-descargar.com/marvels-guardians-of-the-galaxy-descargar/ " class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>
   </div>     
    
    