<div class="recommended-section"></div>
<h4 class="header-text">los mas influyente:</h4>
<div class="page-card">
  <div class="card-container">
    <div class="img-legend">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Geometry dash</h3>
        <p>
            Geometry Dash es un videojuego de plataformas creado en 2013 por el sueco, Robert Topala y posteriormente desarrollado
             por su empresa independiente RobTop Games. Su lanzamiento se produjo el 13 de agosto de 2013 para dispositivos móviles
              y el 22 de diciembre de 2014
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://www.mediafire.com/file/0l3cqonbdtcwxoy/Geometry_Dash_PC_v2.11_ByEkaleMartinez.rar/file"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend2">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">among us</h3>
        <p>
          ENTRE NOSOTROS Estás en una nave espacial, y dos impostores que están
          "entre nosotros", de ahí el título, tienen que matar a los otros ocho
          miembros de la tripulación antes de que los descubran
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://www.mediafire.com/file/k3km9qm27pwffqu/AmongUs_V.2021.9.5e.rar/file"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend3">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">BEN AD ED</h3>
        <p>
          Ben and Ed es un juego de plataformas en tres dimensiones en el que el
          jugador controlará a Ed El Zombie, quién ha sido forzado a participar
          en un concurso de televisión, con el único objetivo de sobrevivir,
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://www.mediafire.com/file/ofi92lvw8rxuucd/Ben_and_Ed_por_Isaias604_yt.rar/file"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend4">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">CYBERPUNK</h3>
        <p>
          Cyberpunk 2077 es un videojuego desarrollado y publicado por CD
          Projekt, que se lanzó para Microsoft Windows, PlayStation 4, y Xbox
          One el 10 de diciembre de 2020, y posteriormente en PlayStation 5,
          Xbox Series X|S y Google Stadia
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://descargarpcjuegos.com/descargar/cyberpunk-2077/"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend5">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Destiny 2</h3>
        <p>
          Destiny 2 es un videojuego de disparos en primera persona,
          desarrollado y publicado por Bungie. Se lanzó el 6 de septiembre de
          2017 para PlayStation 4 y Xbox One, y el 24 de octubre del mismo año
          para Microsoft Windows.​​
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://store.steampowered.com/app/1085660/Destiny_2/?l=spanish"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend6">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Valorant</h3>
        <p>
          Valorant es un videojuego de disparos en primera persona multijugador
          gratuito desarrollado y publicado por Riot Games.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href=" https://www.descargandolojuegos.com/juegospc/como-descargar-valorant-gratis-en-pc/"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend7">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Left 4 Dead</h3>
        <p>
          Left 4 Dead es una serie de videojuegos cooperativos de terror y
          supervivencia en primera persona publicados por Valve.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href=" http://www.mediafire.com/file/gfbstwaad1zkst4/L4D2.rar/file"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend8">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Rocket League</h3>
        <p>
          Rocket League es un videojuego que combina el fútbol con los
          vehículos. Fue desarrollado por Psyonix y lanzado el 7 de julio de
          2015. Fue lanzado Free to play en septiembre de 2020. Se encuentra
          disponible en español, y tiene modos de juego cooperativo de un
          jugador y en línea
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://www.descargandolojuegos.com/juegospc/como-descargar-rocket-league-gratis-en-pc-ps4-xbox-one-y-switch/"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend9">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">StarCraft</h3>
        <p>
          StarCraft es una serie de videojuegos de estrategia en tiempo real
          creada por los diseñadores Chris Metzen y Bill Roper y desarrollada
          por la empresa Blizzard Entertainment
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://www.mediafire.com/file/92k0x6rhkvgbong/Starcraft.rar/file"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend10">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Forza Horizon 4</h3>
        <p>
          Forza Horizon 4 es un videojuego de carreras de mundo abierto, jugable
          en línea, desarrollado por Playground Games para Xbox One y Windows
          10.​
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href="https://www.mediafire.com/file/5eyiz2fypwjtqic/ForzaHori4.zip/file"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend11">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Half-Life: Alyx</h3>
        <p>
          Half-Life: Alyx es un videojuego perteneciente al género de disparos
          en primera persona en realidad virtual desarrollado y publicado por
          Valve Corporation. Es el primer videojuego de la serie Half-Life desde
          el lanzamiento de Half-Life 2
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a
            href=" https://www.mediafire.com/file/e8vfyieljvoocun/HL-4L1X.torrent/file"
            class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="img-legend12">
      <!-- imagen -->
      <div class="legend">
        <h3 class="">Overwatch</h3>
        <p>
          Overwatch es un videojuego de disparos en primera persona
          multijugador, desarrollado por Blizzard Entertainment. Fue lanzado al
          público el 24 de mayo del 2016, para las plataformas PlayStation 4,
          Xbox One y Microsoft Windows
        </p>
      </div>
    </div>
    <div class="card">
      <div class="img-card"></div>
      <div class="card-body">
        <div class="img-banner">
          <a href="https://www.blizzard.com/en-us/download/" class="btn-red"
            >DESCARGELO AQUI</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
