<div class="section-banner"> 

    <!--Banner-->
<div class="img-banner">
    <a href="#LET'S START" class="btn-red">LET'S START</a>
</div>
</div>

<div class="section">
    <div class="headers-section">
        <h4 class="heder-text">Lo que mas juegas</h4>

   <div class="cards-container">

    <div class="card">
        <div class="img-card"></div>
        <div class="card-body">
            <h4 class="card-title">free fire max</h4>
        <p>
            is uniquely designed to offer a premium Battle Royale experience. Enjoy a wide variety of exciting game modes together with Free Fire players through Firelink technology.

            <a href="https://www.gameloop.com/co/game/action/free-fire-on-pc " class="btn-red"> DESCARGELO AQUI </a> 
        </p>

        </div>
    </div>


    <div class="card">
        <div class="img-card2"></div>
        <div class="card-body">
            <h4 class="card-title">GRAND THE AUTO 5</h4>
        <p>
            
         Grand Theft Auto V is an open-world action-adventure video game 
         developed by Rockstar North and distributed by Rockstar Games.

         <a href="https://es.ccm.net/download/descargar-34524-grand-theft-auto-v-para-pc?n=1#34524 " class="btn-red"> DESCARGELO AQUI </a> 

        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card3"></div>
        <div class="card-body">
            <h4 class="card-title">MINECRAFT</h4>
        <p>
            Minecraft is an open-world,
             sandbox construction video game originally created by the Swede Markus Persson 
             (commonly known as "Notch"), and later developed by his company, Mojang Studios.

             <a href="https://bit.ly/3ghjRbg" class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card4"></div>
        <div class="card-body">
            <h4 class="card-title">fornite</h4>
        <p>
            FORNITE
It is a battle royale type game in which up to one hundred players
 compete solo or in squads of two or four members.
  Players jump from a bus across the map at a time of their choosing, 
  and start without weapons.LOL

  <a href=" https://epicgames.com/store/es-MX/download" class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card5"></div>
        <div class="card-body">
            <h4 class="card-title">LEAGUE OF LEGENDS </h4>
        <p>
            League of Legends is a team-based strategy game in which two teams of five
             champions battle it out to see who can destroy the other team's base first. 
             Choose from a cast of 140 champions to perform epic moves, assassinate opponents and take down turrets to claim victory.

             <a href="https://signup.lan.leagueoflegends.com/es/signup/redownload "class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card6"></div>
        <div class="card-body">
            <h4 class="card-title">CALL OF DUTY WARZONE </h4>
        <p>
            Call of Duty: Warzone is a free-to-play Battle royale first-person shooter video game released on March 10, 2020 for PlayStation 4, PlayStation 5, Xbox One, Xbox Series X|S and Microsoft Windows.
             ... The game features two main modes: Loot (loot), respawn and Battle royale.

             <a href="https://support.activision.com/content/atvi/callofduty/warzone/web/es/download.html "class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card7"></div>
        <div class="card-body">
            <h4 class="card-title">WORLD OF WARCRAFT</h4>
        <p>
            World of Warcraft is a trademark of Blizzard based on the Warcraft universe, which, unlike Warcraft,
             leaves aside the strategy of war campaigns and explores the possibilities of role-playing and custom 
             configuration of fictional characters
             <a href="https://www.blizzard.com/es-es/download?product=wow "class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card8"></div>
        <div class="card-body">
            <h4 class="card-title">AMONG US </h4>
        <p>
            
AMONG US
You are on a spaceship, and two impostors who are "among us", hence the title, have to kill the other eight crew members before they are discovered.
World of Warcraft is a trademark of Blizzard based on the Warcraft universe, which, unlike Warcraft, leaves aside the strategy of war campaigns and
 explores the possibilities of role-playing and custom configuration of fictional characters.

 <a href="https://www.mediafire.com/file/k3km9qm27pwffqu/AmongUs_V.2021.9.5e.rar/file "class="btn-red"> DESCARGELO AQUI </a> 

        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card9"></div>
        <div class="card-body">
            <h4 class="card-title">ROBLOX</h4>
        <p>
            Roblox is an online gaming platform where you can play video games 
            designed by other users and create and share your own games using Roblox's 
            proprietary game development tool.

            <a href="https://www.roblox.com/Login"class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card10"></div>
        <div class="card-body">
            <h4 class="card-title">DOTA 2</h4>
        <p>
            Dota 2 is a multiplayer real-time strategy game, distributed by Valve's Steam platform. In this game,
             two teams of five players have the objective of destroying rival structures by controlling characters called heroes.

             <a href="https://www.dota2.com/home"class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>

    <div class="card">
        <div class="img-card11"></div>
        <div class="card-body">
            <h4 class="card-title">FIFA 21</h4>
        <p>
            FIFA 21 is a 2020 soccer video game available for Microsoft Windows, PlayStation 4,
             Xbox One and Nintendo Switch on October 9,
              2020, and is also the first video game in the FIFA series for PlayStation 5 and Xbox X|S Series.

              <a href="https://mediafire.com/file/636lgxj4zbito94/FIF22.zip/file"class="btn-red"> DESCARGELO AQUI </a> 
        </p>
        </div>
    </div>
   </div>     
        

        
    
    
    
    </div>


</div>
